<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="input-field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>
  <div class="input-field">
    <%= f.label :Date %>
    <%= f.text_field :Date, class: 'datepicker' %>
  </div>
  <div class="input-field">
    <%= f.label :Location %>
    <%= f.text_field :Location %>
  </div>
  <div class="input-field">
    <%= f.label :Password %>
    <%= f.text_field :Password %>
  </div>
  <div class="input-field">
    <%= f.label :Token %>
    <%= f.text_field :Token %>
  </div>

    <%= f.button :submit => "", class: 'waves-effect waves-light btn' %>

</div>


<% end %>
