<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container">
      <div class="row">
        <div class="col s6">
          <div class="input-field">
            <%= f.label :Name %>
            <%= f.text_field :Name %>
          </div>
          <div class="input-field">
            <%= f.label :Date %>
            <%= f.text_field :Date, class: 'datepicker' %>
          </div>
          <div class="input-field">
            <%= f.label :Location %>
            <%= f.text_field :Location %>
          </div>
          <div class="input-field">
            <%= f.label :Password %>
            <%= f.text_field :Password %>
          </div>
          <div class="input-field">
            <%= f.label :Token %>
            <%= f.text_field :Token %>
          </div>
          <div class="container">
            <%= recaptcha_tags %>
          </div>
          <br>
          <div class="row">
            <div class="col s4 offset-s3">
              <%= f.button :submit => "", class: 'waves-effect waves-light btn' %>
            </div>
            <div class="col s4">
              <%= link_to "Back", home_path, class: 'waves-effect waves-light btn' %>
            </div>
          </div>
        </div>
        <div class="col s6">
            <div class="row">
            </div>
        </div>
      </div>

    </div>


<% end %>
